/*
copiado de pagina de apple
https://developer.apple.com/swift/


*/


/*
Backdrop filter se aplica a un elemento
Tiene funciones como
    saturacion 
    desenfoque
    sepia
    brillo
    blanco/negro

Esos efectos los aplica a los elementos que tiene detrás ese elemento
*/

/*
@supports >>> solo en el caso de que soporte 

    -webkit-backdrop-filter
    o
    backdrop-filter
                    entonces se aplica.
Si no
     background-color:BLANCO
*/
@supports ((-webkit-backdrop-filter:saturate(180%) blur(20px)) or (backdrop-filter:saturate(180%) blur(20px)))
{
    .cristal
    {
        -webkit-backdrop-filter:blur(20px) saturate(180%);
        backdrop-filter:blur(20px) saturate(180%);
        background-color:hsla(0,0%,100%,.75)
    }
}
@supports not ((-webkit-backdrop-filter:saturate(180%) blur(20px)) or (backdrop-filter:saturate(180%) blur(20px)))
{
    .cristal{
        background-color:#fff
    }
}