/*
Inspirado en la pagina de apple
https://developer.apple.com/swift/


*/


/*
Backdrop filter se aplica a un elemento
Tiene funciones como
    saturacion 
    desenfoque
    sepia
    brillo
    blanco/negro

Esos efectos los aplica a los elementos que tiene detrás ese elemento
*/

/*
@supports >>> solo en el caso de que soporte 

    -webkit-backdrop-filter
    o
    backdrop-filter
                    entonces se aplica.
Si no
     background-color:BLANCO
*/
@supports ((-webkit-backdrop-filter:saturate(180%) blur(20px)) or (backdrop-filter:saturate(180%) blur(20px)))
{
    .cristal
    {
        -webkit-backdrop-filter:blur(20px) saturate(180%);
        backdrop-filter:blur(20px) saturate(180%);
        background-color:hsla(0,0%,100%,.75)
    }
}
@supports not ((-webkit-backdrop-filter:saturate(180%) blur(20px)) or (backdrop-filter:saturate(180%) blur(20px)))
{
    .cristal{
        background-color:#fffe
    }
}

/*estilo de la imagen de fondo*/

.texto-verde {
    color: #006000ff
}

.sombra-negra {
    text-shadow: 2px 2px 8px #000000, 2px 2px 16px #000000, 2px 2px 32px #000000;
}

.sombra-blanca {
    text-shadow: 0px 0px 4px #fff, 0px 0px 8px #fff, 0px 0px 16px #fff;
}

.h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    margin-bottom: .5rem;
    font-weight: 350;
    line-height: 1.2;
    color: #006000ff;
}

body, html {
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.imagenDeFondo {
    position: absolute;
    top: 0rem;
    left: 0rem;
    
    width: 100%;

    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  
    /* Half height */
    height: 40rem;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagenDeFondo2 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    
    width: 100%;

    /* The image used */
    background-image: url("./transporte.png");
    background-size: 100% 120%;
    
    -webkit-filter: saturate(100%);
    -moz-filter:    saturate(100%);
    -o-filter:      saturate(100%);
    -ms-filter:     saturate(100%);
    filter:         saturate(100%);
  
    /* Half height */
    height: 40rem;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  /*----------------------------------------*/
  /*Estilos de tarjetas*/

.espaciado-titulo {
    margin-top: 10rem;
}

.espaciado-seguimiento {
    margin-top: 13rem;
}

.carta-titulo-portada {
    padding-top: 3rem;
    width: 50rem;
    height: 18rem;
}

@media only screen and (max-width: 1700px) {
    .carta-titulo-portada {
        padding-top: 2.5rem;
        width: 45rem;
        height: 17rem;
    }
}
@media only screen and (max-width: 1500px) {
    .carta-titulo-portada {
        padding-top: 2rem;
        width: 40rem;
        height: 16rem;
    }
}
@media only screen and (max-width: 1220px) {
    .carta-titulo-portada {
        padding-top: 1.5rem;
        width: 38rem;
        height: 16rem;
    }
}
@media only screen and (max-width: 1024px) {
    .carta-titulo-portada {
        padding-top: 1.5rem;
        width: 35rem;
        height: 15rem;
    }
}
@media only screen and (max-width: 906px) {
    .carta-titulo-portada {
        padding-top: 1.5rem;
        width: 32rem;
        height: 14rem;
    }
}
@media only screen and (max-width: 846px) {
    .carta-titulo-portada {
        padding-top: 0.25rem;
        width: 29rem;
        height: 12rem;
    }
    
    .espaciado-seguimiento {
        margin-top: 12rem;
    }
}
@media only screen and (max-width: 800px) {
    .carta-titulo-portada {
        padding-top: 0.25rem;
        width: 28rem;
        height: 12rem;
    }
}
@media only screen and (max-width: 767px) {
    
    .carta-titulo-portada {
        padding-top: 1rem;
        width: 30rem;
        height: 14rem;
    }
}
@media only screen and (max-width: 550px) {
    
    .carta-titulo-portada {
        padding-top: 0.25rem;
        width: 28rem;
        height: 12rem;
    }
}
@media only screen and (max-width: 450px) {
    
    .carta-titulo-portada {
        padding-top: 0.75rem;
        width: 26rem;
        height: 13rem;
    }
}

@media only screen and (max-width: 766px) {
    .espaciado-titulo {
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    .espaciado-seguimiento {
        margin-top: 0rem;
    }
}

.shadow {
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important
}

  /*Fin de estilos de tarjetas*/
  /*----------------------------------------*/



   /*Fin de estilos de loggin*/
  /*----------------------------------------*/
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
 /*Fin de estilos de loggin*/
  /*----------------------------------------*/

  /*----------------------------------------*/
  /*Inicio de estilos de */
  /*----------------------------------------*/
  
  /*----------------------------------------*/
  /*Fin de estilos de */
  /*----------------------------------------*/